body {
	background-image: url(https://i.ytimg.com/vi/mRac7S8VMK4/maxresdefault.jpg);

}
.container {
	font-size: 25px;
	background-color: rgba(119,	136, 153, .55);
	margin: 0 auto;
	text-align: center;
	margin-top: 500px;
	padding: 0;
	line-height: 300%;
	opacity: 85%;
}

